{{#header}}
<h1>{{firstName}} {{lastName}}</h1>
<ul>
    <li>{{postal.street}}</li>
    <li>{{postal.state}}</li>
    <li>{{postal.zipcode}}</li>
    <li>{{phone}}</li>
    <li><a href="mailto:{{email}}">{{email}}</a></li>
</ul>
{{/header}}
<hr/>
<h2>Summary</h2>
{{summary}}
<hr/>
<h2>Professional Experience</h2>
{{#each experience}}
<h3 class="employer">{{employer}} <span class="worklocation">{{city}}, {{state}}</span><span class="workdates">{{startDate}}-{{endDate}}</h3>
<span class="role">{{role}}</span></br>
<span class="worksummary">{{summary}}</span>
    <ul class="achievements">
    {{#each achievements}}
        <li>{{this}}</li>
    {{/each}}
    </ul>
{{/each}}
<hr/>
<h2>Education</h2>
{{#each education}}
<h3 class="university">{{institution}}</h3>
<span class="degree">{{degree}}</span>, <span class="school">{{school}}</span><span class="workdates">{{degreeDate}}</span>
{{/each}}