<div class="row">
    <div class="large-12 columns">
    <h2>Summary</h2>
    {{summary}}
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
    <h2>Professional Experience</h2>
    </div>
</div>
{{#each experience}}
<div class="row">
    <div class="large-8 columns">
        <span class="employer">{{employer}}, <span class="worklocation">{{city}}, {{state}}</span></span>
    </div>
    <div class="large-3 large-offset-1 columns">
        <span class="right-align workdates">{{startDate}}-{{endDate}}</span>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <span class="role">{{role}}</span>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <span class="worksummary">{{summary}}</span>
    </div>
</div>
<div class="row">
    <div class="large-11 columns">
        <ul class="achievements">
            {{#each achievements}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
</div>
    {{#each projects}}
    <div class="row">
        <div class="large-12 columns">
            <span class="client">{{client}},</span> <span class="clientRole">{{role}}</span>
        </div>
    </div>
    <div class="row">
        <div class="large-11 columns">
            <ul class="achievements">
                {{#each achievements}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
    {{/each}}
{{/each}}
<div class="row">
    <div class="large-12 colums">
        <h2>Education</h2>
    </div>
</div>
    {{#each education}}
<div class="row">
    <div class="large-9 columns">
        <span class="university">{{institution}}</span><br/>
        <span class="degree">{{degree}}</span>, <span class="school">{{school}}</span>
    </div>
    <div class="large-2 columns">
        <span class="workdates">{{degreeDate}}</span>
    </div>
</div>
{{/each}}
